.header__container {
    display: flex;
    background-color: var(--primary-color);
    padding: 10px;
    justify-content: first baseline;
    align-items: center;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
}

.header__container div {
    margin: 10px;
}

.header__container h1 {
    color: var(--primary-font-color);
    align-items: center;
    font-size: 18px;
}