.formulary {
    height: 100vh;
}

.formulary form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.formulary span {
    padding-bottom: 10px;
}

.formulary a {
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

.formulary a:hover {
    color: blue;
}

@media screen and (min-width: 700px) {
    .formulary form {
        margin: 10% 25% 0 25%;
        width: 400px;
        height: 400px;
    }

    .formulary span {
        padding-bottom: 10px;
        font-size: 18px;
    }
    
    .formulary a {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .formulary form {
        width: 600px;
        height: 400px;
        margin: 50px 0 0 50px;
    }

    .formulary span {
        padding-bottom: 10px;
        font-size: 18px;
    }
    
    .formulary a {
        font-size: 18px;
    }
}