.input-area {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

.input-area label {
    padding-bottom: 5px;
    color: var(--primary-font-color);
}

.input-area input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

@media screen and (min-width: 700px) {
    .input-area {
        padding: 20px 0;
    }

    .input-area label {
        padding-bottom: 10px;
    }

    .input-area input {
        padding: 15px;
    }
    
}

@media screen and (min-width: 1024px) { 

    .input-area label {
        padding-bottom: 10px;
        font-size: 20px;
    }

    .input-area input {
        padding: 20px;
    }
    
}