.formulary {
    height: 100vh;
}

.formulary form {
    display: flex;
    flex-direction: column;
    padding: 5% 2%;
    margin: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
    background-color: var(--primary-color);
}

.formulary span {
    padding-bottom: 10px;
    color: var(--primary-font-color);
}

.formulary button {
    margin: 10px;
    padding: 0.8em 1.2em;
    border: 1px solid black;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    font-family: var(--font-family-primary);
}

.formulary a {
    padding-top: 10px;
    text-decoration: none;
    color: var(--primary-font-color);
}

.formulary a:hover {
    color: blue;
}

@media screen and (min-width: 700px) {
    .formulary form {
        margin: 10% 25% 0 25%;
        width: 400px;
        height: 400px;
    }

    .formulary span {
        padding-bottom: 10px;
        font-size: 18px;
    }
    
    .formulary a {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .formulary form {
        width: 400px;
        height: 300px;
        margin: 50px 0 0 50px;
    }

    .formulary span {
        padding-bottom: 10px;
        font-size: 18px;
    }
    
    .formulary a {
        font-size: 18px;
    }
}